<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    
    <body>
        <h1>FitnessPal</h1>

        <div class="scroll">
            <img class="background-image" src="../images/biking_grey.png" alt="Man biking">

            <div class="row main-page scroll">
                <div class="column center main-text extra-padding">
                    <p>Welcome to FitnessPal</p>
                    <p>Get ready to meet your fitness goals with FitnessPal.</p>
                    <p>Answer a few simple questions and receive a customized prompt that you can enter in ChatGPT to receive your personalized routine.</p>
                </div>

                <div class="column center main-text">
                    <a href="/dietplan">
                        <button class="center">Start my new fitness plan!</button>
                    </a>
                </div>

            </div>
        </div>
    </body>
</html>
