extends layout

block content
  h1= title
  div.main-page
    p.main-text Welcome to #{title}. 
    p.main-text Get ready to meet your fitness goals with FitnessPal. <br /> 
    p.main-text Answer a few simple questions and receive a customized prompt that you can enter in ChatGPT to receive your personalized routine.

  img.image(src="../images/stability_ball.png" alt="Woman exercising")
