<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <link rel="shortcut icon" href="data:;base64,iVBORw0KGgo=">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    
    <body>
        <h1>FitnessPal</h1>

        <div class="scroll">
            <img class="background-image" src="../images/biking_grey.png" alt="Man biking">

            <div class="row main-page scroll">
                <div class="column center main-text extra-padding">
                    <p>Welcome to FitnessPal</p>
                    <p>Get ready to meet your fitness goals with FitnessPal.</p>
                    <p>Answer a few simple questions and receive a customized prompt that you can enter in ChatGPT to receive your personalized routine.</p>
                </div>

                <div class="column center main-text">
                    <a href="#dietplan">
                        <button class="center">Start my new fitness plan!</button>
                    </a>
                </div>

            </div>

            <div class="row">
                <div class="column questions" id="dietplan">
                    <h2>Tell us about yourself</h2>

                    <div class="question center" id="questions">
                        <p id="gender">Specify your gender please:</p>
                        <button class="option-button" id="male" value="male">Male</button> <br />
                        <button class="option-button" id="female" value="female">Female</button> <br />
                        <button class="option-button" id="unspecified" value="unspecified">Do not wish to specify</button> <br />
                        
                        <br /><br />

                        <p id="age-q">How old are you?</p>
                        <input type="number" id="age" name="age"><br><br>

                        <!-- <br /><br /> -->
                        
                        <p id="height-q">Enter your height (in cm):</p>
                        <input type="number" id="height" name="height"><br><br>

                        <p id="weight-q">Enter your current weight (in kgs):</p>
                        <input type="number" id="weight" name="weight"><br><br>

                        <p id="health-goals-q">What are your health goals?</p>
                        <button class="option-button" id="weight-loss" value="weight-loss">Lose some weight</button> <br />
                        <button class="option-button" id="weight-gain" value="weight-gain">Gain weight</button> <br />
                        <button class="option-button" id="muscle-gain" value="muscle-gain">Gain more muscle</button> <br />
                        <button class="option-button" id="manage-health-condition" value="manage-health-condition">Manage a health condition</button> <br />
                        <button class="option-button" id="good-diet" value="good-diet">Just have a good and balanced diet</button> <br />

                        <br /><br />

                        <p id="health-conditions-q">Any health conditions you want to manage?</p>
                        <button class="option-button" id="type2-diabetes" value="type2-diabetes">Type 2 Diabetes</button>
                        <button class="option-button" id="high-cholestrol" value="high-cholestrol">High Cholestrol Levels</button> <br />
                        <button class="option-button" id="hypertension" value="hypertension">Hypertension</button>
                        <button class="option-button" id="heart-disease" value="heart-disease">Heart Disease</button> <br />
                        <button class="option-button" id="gerd" value="gerd">Gerd</button>
                        <button class="option-button" id="ibs" value="ibs">Irritable Bowel Syndrome</button> <br />
                        <button class="option-button" id="pcos" value="pcos">PCOS</button> 
                        <button class="option-button" id="celiac" value="celiac">Celiac Disease</button> <br />
                        Other:
                        <input type="text" id="health-condition-other" name="health-condition-other">

                        <br /><br />
                        
                        <p id="activity-level-q">How active are you in your daily routine?</p>
                        <button class="option-button" id="sedentary" value="sedentary">Sedentary</button> <br />
                        <button class="option-button" id="lightly-active" value="lightly-active">Lightly active</button> <br />
                        <button class="option-button" id="moderately-active" value="moderately-active">Moderately active</button> <br />
                        <button class="option-button" id="manage-health-condition" value="manage-health-condition">Very active</button> <br />

                        <br /><br />

                        <p id="dietary-pref-q">Do you have any dietary preferences?</p>
                        <button class="option-button" id="vegan" value="vegan">Vegan</button> 
                        <button class="option-button" id="vegetarian" value="vegetarian">Vegetarian</button> <br />
                        <button class="option-button" id="pescatarian" value="pescatarian">Pescatarian</button> 
                        <button class="option-button" id="halal" value="Halal">Halal</button> <br />
                        <button class="option-button" id="kosher" value="kosher">Kosher</button> 
                        <button class="option-button" id="keto" value="keto">Keto diet</button> <br />
                        Other:
                        <input type="text" id="health-condition-other" name="health-condition-other">

                        <br /><br />

                        <p id="intol-aller-q">Do you have any food intolerances and allergies?</p>
                        <button class="option-button" id="lactose-intolerance" value="lactose-intolerance">Lactose Intolerance</button> 
                        <button class="option-button" id="gluten-intolerance" value="gluten-intolerance">Gluten Intolerance</button> <br />
                        <button class="option-button" id="nut-allergy" value="nut-allergy">Nut Allergy</button> 
                        <button class="option-button" id="fish-allergy" value="fish-allergy">Fish Allergy</button> <br />
                        Other:
                        <input type="text" id="health-condition-other" name="health-condition-other">

                    </div>
                </div>

            </div>
        </div>
    </body>
</html>
